* {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Base class */
.shield-layer {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    display: none;
    animation: pulse 1s infinite;
}


/* ชั้นในสุด: เกราะ 1 */
#shield1 {
    width: 150px;
    height: 150px;
    border:8px solid rgba(0, 150, 255, 0.4);
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    z-index: 3;
}

/* ชั้นกลาง: เกราะ 2 */
#shield2 {
    width: 165px;
    height: 165px;
    border: 5px solid rgba(26, 255, 0, 0.6);
    top: calc(50% - 82px);
    left: calc(50% - 82px);
    z-index: 2;
}

/* ชั้นนอกสุด: เกราะ 3 */
#shield3 {
    width: 180px;
    height: 180px;
    border: 6px solid rgba(204, 0, 255, 0.8);
    top: calc(50% - 89px);
    left: calc(50% - 89px);
    z-index: 1;
}

/* Optional animation */
@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.05); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}


#game {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

#upper_tooth {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.bacteria {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
}





#controls {
    text-align: center;
    margin-top: 10px;
}

#endScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    z-index: 10;
}

#endScreen button {
    font-size: 24px;
    margin: 10px;
    padding: 10px 20px;
}