body {
  background-image: url("theme/candy/bg.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

.btn-img {
  display: block;
  max-height: 60px;
  width: auto;
  margin-bottom: 20px;
}

.home-logo{
  display: block;
  max-height: 200px;
  width: auto;
  margin-top: -120px;
}