.btn-img {
  display: block;
  max-width: 300px;
  height: auto;
  margin: 0px auto -100px auto; 
  object-fit: contain;
}


.home-logo{
  display: block;
  max-height: 200px;
  width: auto;
  margin-top: -120px;
}