.shield-layer {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 10px solid rgb(0, 153, 255);
  pointer-events: none;
  z-index: 10;
}
canvas {
  overflow: hidden;
  display: block;
}
